body{

font-family:Arial;
margin:0;
background:#f5f7fb;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:white;
box-shadow:0px 2px 5px #ccc;

}

.logo{

font-size:22px;
font-weight:bold;

}

nav a{

margin:10px;
text-decoration:none;
color:black;

}

.active{

background:#2b5cff;
color:white;
padding:8px 15px;
border-radius:10px;

}


.hero{

text-align:center;
padding:100px;

background:linear-gradient(#eaf0ff,#ffffff);

}


.hero h1{

font-size:40px;

}

.hero input{

width:400px;
padding:15px;
border-radius:10px;
border:1px solid gray;

}


.container{

padding:40px;

}


.main{

display:flex;

}


.filters{

width:250px;
background:white;
padding:20px;
border-radius:10px;

}


.jobs{

flex:1;
margin-left:20px;

}


.card{

background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0px 2px 5px #ddd;

}


.applyBtn{

background:#2b5cff;
color:white;
padding:10px 20px;
border-radius:10px;
text-decoration:none;

}